/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */

html {
  /* font-family: 'Helvetica Neue', Helvetica, sans-serif; */
  /* font-family: sans-serif; */
  /* font-family: serif; */
  /* font-family: monospace; */
  /* font-family: cursive; */
  /* font-family: fantasy; */
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #118e64;
  /* color: rgba(255, 142, 100, 1); */
  font-size: 40px;
  font-style: italic;
}

body {
  font-size: 10px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
